{% extends 'app/base.html' %}
{% load static %}
{% block title %}Aboutus{% endblock title %}

{% block main-content %}


<head>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="col-md-4 float-right ">
  
  </div>
  <div class="about-section" style="background-color: black; color: white; font-size: 25px; padding: 10px;">
    <h1 >About Us </h1>
    <h2 style="padding: 10px;">Our Team</h2>
    <p style="font-size: 20px;padding: 10px;">Some Story about our team</p>
  </div>
  
 
  <div class="row">
    <div class="column">
      <div class="card">
        
        <div style="padding: 10px;">
          <h2>Ankit Kumar Singh</h2>
          <p class="title">Team Leader</p>
          <p>Working on Frontend</p>
          <b>Contect Email</b>

          <p>singhankit0460@gmail.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div style="padding: 10px;">
          <h2>Vishwas Saini</h2>
          <p class="title">Co-Leader</p>
          <p>Working on Backend</p>
         <b>Contect Email</b>
          <p>sainivishu770@gmail.com</p>
         
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div style="padding: 10px;">
          <h2>Deepanshu</h2>
          <p class="title">Co-Leader</p>
          <p>Working on Backend</p>
          <b>Contect Email</b>
          <p>deepanshusaini2711@gmail.com</p>
          
        </div>
      </div>
    </div>
  </div>
 


{% endblock main-content %}